


















 

<html>
<head>
	<title>EA GAMES | Need for Speed Underground 2</title>
<link href="/redesign/stylesheets/networknav.css" rel="stylesheet" type="text/css">
<link href="/official/nfs/underground2/us/stylesheets/stylesheet_css.inc?dcrPath=/official/nfs/underground2/us/data/nfsu2_us.eadcr" rel="stylesheet" type="text/css">
<script language="javascript" src="scripts/polls_js.inc?dcrPath=/official/nfs/underground2/us/data/nfsu2_us.eadcr"></script>
<script language="javascript" src="/official/nfs/underground2/us/scripts/domRollover.js"></script>
<script language="javascript" src="/scripts/confirmlegal_js.inc"></script>
</head>

<body leftmargin=0 topmargin=0 marginheight=0 marginwidth=0 bgcolor=#000000 onload="init();">
<center>


















 
<script language="javascript" src="/online/javascripts/easports.js"></script>

<link href="/redesign/stylesheets/networknav.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="all" />









































<script language="javascript" src="/scripts/networknav_js.inc?pageRedirect=http%3A%2F%2Fwww.eagames.com%2Fofficial%2Fnfs%2Funderground2%2Fus%2Fhome.jsp%3Fncc%3D1"></script>
<script language="JavaScript" src="http://ea.links.channelintelligence.com/scripts/ykb_PopupWindow.js" type="text/javascript"></script>
<style>
.storelocator { font-family:arial;;font-size:10px;color:#ffffff; }
</style>
<table cellspacing=0 cellpadding=0 border=0 width="100%" bgcolor="#333333">
<tr>
	<td align="center">
		<table cellspacing=0 cellpadding=0 border=0 width="760" bgcolor="#333333">
		<tr>
			<td rowspan=2>
				<a  href="http://www.ea.com"><img src="http://images.ea.com/eagames/uninav_logo_gray.gif" border=0 alt="Electronic Arts"></a></td>
			<td align=right>
				<img src="http://images.ea.com/p.gif" width=20 height=1>
				<span class=networknav>
			
		<a  onmouseover="window.status ='Support'; return true" onclick="javascript:window.open('http://eamembers.custhelp.com/','Support');" onmouseout ="window.status=''; return true" href="javascript:void(0);">SUPPORT</a>&nbsp;&nbsp;<span style="font-size: 11px;font-family: Arial, Helvetica,sans-serif;font-weight: normal;color: #999999;">|</span>&nbsp;&nbsp;<A onmouseover="window.status ='Login'; return true" onmouseout="window.status=''; return true" href="javascript:void(0);" onclick="var login = window.open('/common/login/login.jsp?site=eaco&finalredr=http%3A%2F%2Fwww.eagames.com%2Fofficial%2Fnfs%2Funderground2%2Fus%2Fhome.jsp%3Fncc%3D1&skin=eacom','Login','width=630,height=555,toolbar=no,menubar=no,location=no,scrollbars=yes,resizable=yes');login.focus();" >LOGIN</a></span>&nbsp;&nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td align=right>
				<span class=networknav><a  href="http://www.ea.com" onmouseover="window.status='EA Home Page';return true;" onmouseout="window.status='';return true;">MAIN</a></span>&nbsp;&nbsp;<span style="font-size: 11px;font-family: Arial, Helvetica,sans-serif;font-weight: normal;color: #999999;">|</span>&nbsp;&nbsp;<span class=networknav><a  href="http://www.easports.com" onmouseover="window.status='EA SPORTS';return true;" onmouseout="window.status='';return true;">EA SPORTS</a></span>&nbsp;&nbsp;<span style="font-size: 11px;font-family: Arial, Helvetica,sans-serif;font-weight: normal;color: #999999;">|</span>&nbsp;&nbsp;
<span class=networknav><a  href="http://www.eagames.com" onmouseover="window.status='EA GAMES';return true;" onmouseout="window.status='';return true;">EA GAMES</a></span>
&nbsp;&nbsp;<span style="font-size: 11px;font-family: Arial, Helvetica,sans-serif;font-weight: normal;color: #999999;">|</span>&nbsp;&nbsp;<span class=networknav><a  href="http://www.easportsbig.com" onmouseover="window.status='EA SPORTS BIG';return true;" onmouseout="window.status='';return true;">EA SPORTS BIG</a></span>&nbsp;&nbsp;<span style="font-size: 11px;font-family: Arial, Helvetica,sans-serif;font-weight: normal;color: #999999;">|</span>&nbsp;&nbsp;<span class=networknav><a  href="/webcore/pogo.jsp?GameCode=home&site=eaga&redr=/" onmouseover="window.status='POGO';return true;" onmouseout="window.status='';return true;">POGO</a></span>&nbsp;&nbsp;<span style="font-size: 11px;font-family: Arial, Helvetica,sans-serif;font-weight: normal;color: #999999;">|</span>&nbsp;&nbsp;<span class=networknav><a onmouseover="window.status ='Find A Store'; return true" onmouseout ="window.status=''; return true" href="JavaScript:onClick=MM_showHideLayers('PopCall','','show',0,'findastorenav');sf(0);" onDblClick="MM_showHideLayers('PopCall','','hide',0,'findastorenav')" id="findastorenav">FIND A STORE</a></span>&nbsp;&nbsp;<span style="font-size: 11px;font-family: Arial, Helvetica,sans-serif;font-weight: normal;color: #999999;">|</span>&nbsp;&nbsp;<span class=networknav><a  href="http://eastore.ea.com/jump.jsp?itemType=GATEWAY&itemID=198&iMainCat=198&iSubCat=198" onmouseover="window.status='EA  STORE';return true;" onmouseout="window.status='';return true;">EA STORE</a></span>&nbsp;&nbsp;&nbsp;</td>
		</tr>
		</table></td>
</tr>
</table>

<!-- BELOW IS STORE FINDER CODE -->
<div id="PopCall" style="position:absolute; width:200px; height:115px; z-index:1; left: 567px; top: 43px; visibility: hidden;">
  <table width="200" border="1" bordercolor="#000000" bgcolor="#333333">
    <tr>
      <td> <div align="center" class="storelocator">ENTER YOUR POSTAL CODE <BR> TO FIND A LOCAL RETAILER:
          <table cellSpacing='0' cellPadding='0' border='0' summary='Table used to box zip form.'>
             <form id='zipForm0' action='' name='zipForm0' method='get' onSubmit='return CheckZip(0, 1);'>
              <input id='nIID' name='nIID' type='hidden' value='-1' />
              <input id='sSKU' name='sSKU' type='hidden' value='' />
              <input id='sCT' name='sCT' type='hidden' value='EAgames' />
              <input id='nRID' name='nRID' type='hidden' value='-1' />
              <input id='nRGID' name='nRGID' type='hidden' value='581' />
              <input id='nVID' name='nVID' type='hidden' value='-1' />
              <input id='nDSID' name='nDSID' type='hidden' value='-1' />
              <input id='nPGID' name='nPGID' type='hidden' value='-1' />
              <input id='sCountry' name='sCountry' type='hidden' value='US' />
              <input id='sCDATA' name='sCDATA' type='hidden' value='' />
              <tr>
                <td align='left'>	<input id='sZip' style='FONT-SIZE: 10pt;' size='10' maxLength='14' name='sZip' onKeyPress='return submitenter(this, event, 0, 1)'; value=''/>
									&nbsp; <input id='btnSubmit' style='COLOR: #000000' type='button' onClick='return CheckZip(0,1);' align='absMiddle' value='Find' name='btnSubmit' onSubmit="MM_showHideLayers('PopCall','','hide', 1)" />
									<input id='nRadius' name='nRadius' type='hidden' value='15' /></td>
              </tr>
			  <tr>
			  	<td>&nbsp;</td>
			  </tr>
			  <tr>
			  	<td align=right><p class="storelocator"><a href="javascript:MM_showHideLayers('PopCall','','hide');" style="text-decoration: underline;color:#FFFFFF;">CLOSE</a></td>
			  </tr>
            </form>
          </table>
        </div>
        <BR></td>
    </tr>
  </table>
</div>



<!-- END STORE FINDER -->

<table cellpadding=0 cellspacing=0 border=0 background="http://images.ea.com/eagames/official/nfs/underground2/us/home/topbanner.jpg"><tr><td><div id='flashdiv'>
<OBJECT width=765 height=76>
		<PARAM NAME="pluginspage" VALUE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
		<PARAM NAME="src" VALUE="http://www.ea.com/downloads/eagames/official/nfs/underground2/us/topbanner.swf"> <param name="wmode" value="transparent">
		<EMBED width=765 height=76 wmode="transparent"
		SRC="http://www.ea.com/downloads/eagames/official/nfs/underground2/us/topbanner.swf"
		BGCOLOR="#000000" BORDER="0" Pquality=high swLiveConnect=false type="application/x-shockwave-flash" 
		pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></EMBED></OBJECT></div></td></tr></table>

	 





















<table cellpadding=0 cellspacing=0 border=0 width=768 background="http://images.ea.com/eagames/redesign/common/head/find_bar.gif">
<tr> 
	<td>
		<img src="http://images.ea.com/eagames/redesign/common/head/find_corner.gif"></td>
	<td valign=middle>
		
			
		



















<script type='text/javascript'>
//HV Menu v5.411- by Ger Versluis (http://www.burmees.nl/)
//Submitted to Dynamic Drive (http://www.dynamicdrive.com)
//Visit http://www.dynamicdrive.com for this script and more

function Go(){return}

</script>

<script type='text/javascript' src='/redesign/scripts/menu_var_js.inc'></script>


<script type='text/javascript' src='/redesign/scripts/menu_com.js'></script>

<div id='nav' style='position:relative'></div><img src="http://images.ea.com/p.gif" width=225 height=21></td>
	<td>
		<FORM NAME="search" METHOD="post" ACTION="/redesign/search.jsp"><input name="searchparam" type=text size=22 style="font-family:verdana;font-size:7pt;background-color:#a1a1a1;" value="search by game name"></input></td> 
	
	<td valign=middle>
		<img src="http://images.ea.com/p.gif" width=1 height=3><br>
		<input type="image" src="http://images.ea.com/eagames/redesign/common/buttons/search_go.jpg">
		<a href="http://www.eagamereg.com" target="_new"><img src="http://images.ea.com/eagames/redesign/common/head/register.gif" border=0></a>
		<a href="http://eatech.custhelp.com" target="_new"><img src="http://images.ea.com/eagames/redesign/common/head/support.gif" border=0></a>
		
			
		




















<span style="font-family:arial;font-size:8pt">
<select style="font-family:arial;font-size:8pt" name="LangSelect" onchange="javascript:document.location.href=document.search.LangSelect[document.search.LangSelect.selectedIndex].value"}>

	<option value="/official/nfs/underground2/us/">North America</option>

	<option value="/official/nfs/underground2/cz/">Czech Republic</option>

	<option value="/official/nfs/underground2/fr/">France</option>

	<option value="/official/nfs/underground2/de/">Germany</option>

	<option value="/official/nfs/underground2/it/home.jsp">Italy</option>

	<option value="/official/nfs/underground2/jp/">Japan</option>

	<option value="/official/nfs/underground2/pl/">Poland</option>

	<option value="/official/nfs/underground2/es/">Spain</option>

</select></span></td>
</tr></form>
</table>
 
<table cellpadding=0 cellspacing=0 border=0 width=765 bgcolor="d8d8d8">
<tr>
	<td valign=top width=150 background="http://www.ea.com/downloads/eagames/official/nfs/underground2/us/leftnav_background.jpg">
		



















 

  
<a href="http://eastore.ea.com/shopping/search/advancedsearchmain.jsp?ASP=1&RS=1&sPlatform=0&keyword=nfsunder2"><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/preorder.jpg" border=0 width=150></a><br><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/locator.jpg" border=0 width=150><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/game_info.gif" border=0 width=150><a href="/official/nfs/underground2/us/features.jsp"><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/features.gif"  hsrc="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/features_over.gif" border=0 width=150></a><br><a href="/official/nfs/underground2/us/screenshots.jsp"><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/screens.gif"  hsrc="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/screens_over.gif" border=0 width=150></a><br><a href="/official/nfs/underground2/us/videos.jsp"><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/video.gif"  hsrc="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/video_over.gif" border=0 width=150></a><br><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/hdr_go.gif" border=0 width=150><a href="/official/nfs/underground2/us/citylife.jsp"><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/city.gif"  hsrc="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/city_over.gif" border=0 width=150></a><br><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/soundtrack_gray.gif" border=0 width=150><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/hdr_community.gif" border=0 width=150><a href="javascript:alert('Coming Soon!')"><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/onlineplay2.gif"  hsrc="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/onlineplay-over2.gif" border=0 width=150></a><br><a href="/official/nfs/underground2/us/news.jsp"><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/news2.gif"  hsrc="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/news-over2.gif" border=0 width=150></a><br><a href="/webcore/boards.jsp?mbURL=http://eagames.boards.ea.com/messages?14@@/EA%20GAMES/Need%20For%20Speed%20Underground%202"><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/boards.gif"  hsrc="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/boards_over.gif" border=0 width=150></a><br><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/hdr_garage.gif" border=0 width=150><a href="/official/nfs/underground/us/"><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/nfs1.gif"  hsrc="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/nfs1_over.gif" border=0 width=150></a><br><a href="http://www.eagames.com/official/nfs/hotpursuit2/us/home.jsp"><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/nfs2.gif"  hsrc="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/nfs2_over.gif" border=0 width=150></a><br><img src="http://images.ea.com/eagames/official/nfs/underground2/us/leftnav2/hdr_partners.gif" border=0 width=150></eadcr:if><br>

</td>
	<td valign=top width=615>
		<table cellpadding=0 cellspacing=0 border=0 width=615>
		<tr>
			<td>
				<div id='flashdiv2'>


















 


	<OBJECT width=615 height=395>
		<PARAM NAME="pluginspage" VALUE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
		<PARAM NAME="src" VALUE="http://www.ea.com/downloads/eagames/official/nfs/underground2/us/mainimage.swf"> <param name="wmode" value="transparent">
		<EMBED width=615 height=395 wmode="transparent"
		SRC="http://www.ea.com/downloads/eagames/official/nfs/underground2/us/mainimage.swf"
		BGCOLOR="#000000" BORDER="0" Pquality=high swLiveConnect=false type="application/x-shockwave-flash" 
		pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></EMBED></OBJECT><br>
</div></td>
		</tr>
		<tr>
			<td width=615>
				


















 
<table style="background-repeat:no-repeat" cellpadding=0 cellspacing=0 border=0 width=614 bgcolor="d8d8d8">
<tr>

	
	
	
	<td style="background-repeat:no-repeat" width=152 valign=top bgcolor="d8d8d8" background="http://images.ea.com/eagames/official/nfs/underground2/us/home/bg_1.jpg">
				<br>
					
					
					<table cellpadding=12 cellspacing=0 border=0 width=152>
					<tr>
						<td><span class="default"><b>11.24.04</b><br><b>Video Update<br></b><br>Can't get enough of Brooke Burke? Neither can we, so check out this new video!<br><br>
<a href="/official/nfs/underground2/us/videos.jsp" style="color:#000000">View the Video >> </a><br></span></td>
					</tr>
					</table>
					
				
					
					
					<table cellpadding=12 cellspacing=0 border=0 width=152>
					<tr>
						<td><span class="default"><b>11.23.04</b><br><b>Wallpaper Contest Update</b><br><center><a href="/official/nfs/underground2/us/editorial.jsp?src=wp_contest" style="color:#000000" target="_top"><img src="http://images.ea.com/eagames/official/nfs/underground2/us/home/125x72_wallpaper.jpg" width="125" height="72" border=0></a></center>
One week left in the Wallpaper Contest  and someone scores some great Logitech prizes. Check out some of these submissions. <br><br> <a href="/official/nfs/underground2/us/editorial.jsp?src=wp_contest_promo" style="color:#000000" target="_top">Learn More >></a></span></td>
					</tr>
					</table>
					
				
					
					
					<table cellpadding=12 cellspacing=0 border=0 width=152>
					<tr>
						<td><span class="default"><b>11.22.04</b><br><b>NFSU2 Launch Party<br></b><br><center><img src="http://images.ea.com/eagames/official/nfs/underground2/us/screenshots/launch_event/launch_event_promo.jpg   " width="125" height="72" border=0></a></center>
Don't miss the remaining showtimes of the <i>Need for Speed Underground 2</i> launch party.<br><br>
<a href="/official/nfs/underground2/us/editorial.jsp?src=launch_promo" style="color:#000000" target="_top">View Showtimes >></a><br></span></td>
					</tr>
					</table>
					
				
					
					
					<table cellpadding=12 cellspacing=0 border=0 width=152>
					<tr>
						<td><span class="default"><b>11.22.04</b><br><b>Brooke Images Available<br></b><br>Check out these images of Brooke Burke from the latest <i>Need for Speed Underground 2</i> Newsletter.<br><br>
<a href="/official/nfs/underground2/us/editorial.jsp?src=brooke_2" style="color:#000000" target="_blank">More Info >></a><br></span></td>
					</tr>
					</table>
					
				
					
					
					<table cellpadding=12 cellspacing=0 border=0 width=152>
					<tr>
						<td><span class="default"><br><a href="/official/nfs/underground2/us/editorial.jsp?src=downloads" style="color:#000000" target="_top"><b>Download the Demo</b><br>
<a href="http://boards.ea.com/messages?13@244.e2z3a3U7FeA.1@.2ce36584" style="color:#000000" target="_blank"><b> Message Boards</b></a> <br></span></td>
					</tr>
					</table>
					
				</td>
		
		<td style="background-repeat:no-repeat" bgcolor="9a9a9a" valign=top width=2 bgcolor="d8d8d8" background="http://images.ea.com/eagames/official/nfs/underground2/us/home/border_1.jpg">
			<img src="http://images.ea.com/eagames/official/nfs/underground2/us/home/border_1" width=2></td>
		

	
	
		
		
	
	
	<td style="background-repeat:no-repeat" width=306 valign=top bgcolor="d8d8d8" background="http://images.ea.com/eagames/official/nfs/underground2/us/home/bg_2.jpg">
				<br>
					
					
					<table cellpadding=12 cellspacing=0 border=0 width=306>
					<tr>
						<td><span class="default"><b>Get the <i>Road Report</i></b><br><br>Want to see more images of Brooke Burke? Then <a href="#" onClick="javascript:window.open('http://preferences.fun.ea.com/ea/mf_NFSpeed.asp','newsletter','width=480,height=540,status=no,menubar=no,location=no,toolbar=no');" style="color:#000000" >sign up</a> for the <i>Road Report</i> to see more exclusive Underground 2 images.</span></td>
					</tr>
					</table>
					
				
					<span class="default"><center><br>
<a onMouseOver="this.style.cursor='hand'" onclick="javascript:window.open( 'http://images.ea.com/eagames/official/nfs/underground2/us/home/bb_kb.jpg', '','width=800, height=600, resizable=yes')">
<img src=http://images.ea.com/eagames/official/nfs/underground2/us/home/bb_kb_sm.jpg border="1" width="270" height="202"><br></a>
</center></span>
					
					
				</td>
		
		<td style="background-repeat:no-repeat" bgcolor="9a9a9a" valign=top width=2 bgcolor="d8d8d8" background="http://images.ea.com/eagames/official/nfs/underground2/us/home/border_2.jpg">
			<img src="http://images.ea.com/eagames/official/nfs/underground2/us/home/border_2" width=2></td>
		

	
	
	
	<td style="background-repeat:no-repeat" width=152 valign=top bgcolor="d8d8d8" background="http://images.ea.com/eagames/official/nfs/underground2/us/home/bg_3.jpg">
				<br>
					
					
					
						<table cellpadding=5 cellspacing=0 border=0 width=152>
						<tr>
							<td class=default>
								<form name="pollForm" onsubmit="javascript:online_submit(this);">
								<span class="default"><b>11.16.04</b><br><b>Latest Poll</b><br></span>
								
								<br>Which racing mode are you going to play first?<br><br>
								<script language="javascript">
									writePoll();
								</script></form></td>
						</tr>
						</table>
					
				
					
					
					<table cellpadding=12 cellspacing=0 border=0 width=152>
					<tr>
						<td><span class="default"><b>11.18.04</b><br><b>Community Spotlight</b><br></span></td>
					</tr>
					</table>
					
				
					<span class="default"><center><a href="#" onclick="javascript:confirmIt('http://www.n4s.de/');"><img src="http://n4s.f7c-network.com/fileadmin/files/n4s/banner/n4s-button-125-72.jpg" width="125" height="72" border=0></a></center></span>
					
					
				
					
					
					<table cellpadding=12 cellspacing=0 border=0 width=152>
					<tr>
						<td><span class="default"><a href="http://www.n4s.de/"  style="color:#000000" target="_blank">
N4S.de</a> is a young German Need For Speed portal with new and fresh design. <br><br>
It features all NFS releases since High Stakes and will give you the hottest news about the now released Underground 2 and  the German NFS racing scene.</span></td>
					</tr>
					</table>
					
				</td>
		

	<td width=1 bgcolor="d8d8d8" background="http://images.ea.com/eagames/official/nfs/underground2/us/universal/border_2.jpg"><img src="http://images.ea.com/p.gif" width=1 height=225></td>
</tr>
</table></td>
		</tr>
		</table></td>
</tr>
</table>



















 


<table cellpadding=0 cellspacing=0 border=0 width=765 background="http://images.ea.com/eagames/official/nfs/underground2/us/universal/footer.jpg">
<tr>
	<td colspan=2 width=765><img src="http://images.ea.com/p.gif" width=765 height=50></td>
</tr>
<tr>
	<td width=1><img src="http://images.ea.com/p.gif" width=1 height=27></td>
	<td width=764>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span class="legal"><a href="http://www.ea.com/global/legal/legalnotice.jsp" class="legal" target="_new">&copy;2004 Electronic Arts Inc. All Rights Reserved</a>&nbsp;|&nbsp;<a href="http://www.ea.com/global/legal/privacy.jsp" target="_new" class="legal">Privacy Policy</a> | <a href="http://www.ea.com/global/legal/tos.jsp" target="_new" class="legal">Terms of Service</a> | <a href="mailto:eagamesonline@ea.com?subject=Need for Speed Underground 2" class="legal">Feedback</a> | <a href="http://www.ea.com/global/popups/piracy.jsp" target="_new" class="legal">Piracy</a></span></td>
</tr>
</table>
<br>
<table cellpadding=0 cellspacing=0 border=0 width=765>
<tr>
	<td align=left>
		<a href="http://www.esrb.org" target="_new"><img src="http://images.ea.com/eagames/official/nfs/underground2/us/e_nfsug2.gif" border=0 alt="Mild Lyrics, Suggestive Themes"></a>&nbsp;<a href="http://www.ea.com/global/legal/privacy.jsp" target="_new"><img src="http://images.ea.com/esrb/privacycertified.jpg" border=0 alt="Privacy Policy"></a></td>
	<td align=right>
		<img src="http://images.ea.com/eagames/official/goldeneye/rogueagent/us/common/xboxlive.jpg" border=0></td>
</tr>
</table><br>&nbsp;
	
	

</center>
</body>
</html>
